@tailwind base;
@tailwind components;
@tailwind utilities;
/* 全局样式 设置字体样式 */
html,
body {
  font-family: var(--font-lexend);
}
@layer base {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}

@layer utilities {
  .gradient-bg {
    @apply bg-gradient-to-r from-green-400 to-violet-500;
  }
  .gradient-btn-bg {
    @apply bg-gradient-to-r  from-green-600 to-green-400;
  }
  .container {
    @apply px-2 py-3;
  }
}

.container {
  @apply max-w-[1080px] mx-auto py-10;
}
